requirements-parser==0.9.0
types-setuptools==82.0.0.20260210
pip==24.1.2
setuptools==75.2.0
bitsandbytes==0.49.2
google-colab==1.0.0
cramjam==2.11.0
MarkupSafe==3.0.3
cuda-core==0.3.2
notebook_shim==0.2.4
nvidia-nvjitlink-cu12==12.8.93
folium==0.20.0
pydub==0.25.1
nvidia-libnvcomp-cu12==5.1.0.21
SQLAlchemy==2.0.48
torchcodec==0.10.0+cu128
ipykernel==6.17.1
alembic==1.18.4
glob2==0.7
sphinxcontrib-devhelp==2.0.0
omegaconf==2.3.0
toml==0.10.2
uuid_utils==0.14.1
requests==2.32.4
gymnasium==1.2.3
sklearn-pandas==2.2.0
google-cloud-core==2.5.0
greenlet==3.3.2
gin-config==0.5.0
cmake==3.31.10
pymc==5.28.1
sentencepiece==0.2.1
frozenlist==1.8.0
tcmlib==1.4.1
arviz==0.22.0
srsly==2.5.2
cachetools==6.2.6
cudf-cu12==26.2.1
traittypes==0.2.3
access==1.1.10.post3
google-cloud-iam==2.21.0
nvidia-nvshmem-cu12==3.4.5
geemap==0.35.3
grpc-google-iam-v1==0.14.3
libcugraph-cu12==26.2.0
anyio==4.12.1
wasabi==1.1.3
torchtune==0.6.1
ratelim==0.1.6
panel==1.8.10
gcsfs==2025.3.0
portpicker==1.5.2
immutabledict==4.3.1
prophet==1.3.0
einops==0.8.2
py4j==0.10.9.9
multiprocess==0.70.16
nvidia-cusolver-cu12==11.7.3.90
lxml==6.0.2
libucx-cu12==1.19.0
jeepney==0.9.0
cuda-python==12.9.4
google-cloud-monitoring==2.29.1
scipy==1.16.3
iniconfig==2.3.0
google-cloud-functions==1.22.0
scooby==0.11.0
h5netcdf==1.8.1
httpimport==1.4.1
absl-py==1.4.0
ipyparallel==8.8.0
oauth2client==4.1.3
splot==1.1.7
mapclassify==2.10.0
distro==1.9.0
wordcloud==1.9.6
hyperopt==0.2.7
frozendict==2.4.7
jaraco.classes==3.4.0
notebook==6.5.7
proto-plus==1.27.1
colour==0.1.5
httpcore==1.0.9
pexpect==4.9.0
ImageIO==2.37.3
pillow==11.3.0
openpyxl==3.1.5
nbclient==0.10.4
platformdirs==4.9.4
dask-cudf-cu12==26.2.1
murmurhash==1.0.15
fasttransform==0.0.2
multitasking==0.0.12
mmh3==5.2.1
gradio==5.50.0
colorcet==3.1.0
lazy-loader==0.5
numpy==2.0.2
fastdownload==0.0.7
tifffile==2026.3.3
matplotlib-venn==1.1.2
tensorflow-metadata==1.17.3
rfc3986-validator==0.1.1
db-dtypes==1.5.0
tomlkit==0.13.3
h2==4.3.0
momepy==0.11.0
google-cloud-aiplatform==1.141.0
parso==0.8.6
python-louvain==0.16
prompt_toolkit==3.0.52
Mako==1.3.10
pynndescent==0.6.0
google-resumable-media==2.8.0
widgetsnbextension==3.6.10
typing-inspection==0.4.2
gradio_client==1.14.0
clarabel==0.11.1
uvicorn==0.42.0
langsmith==0.7.18
wurlitzer==3.1.1
kagglesdk==0.1.16
nvidia-cusparselt-cu12==0.7.1
quantecon==0.11.1
plum-dispatch==2.7.1
mistune==3.2.0
cryptography==43.0.3
opentelemetry-sdk==1.38.0
nvidia-cufft-cu12==11.3.3.83
fonttools==4.62.1
pygame==2.6.1
requests-oauthlib==2.0.0
certifi==2026.2.25
PyGObject==3.48.2
osqp==1.1.1
ruff==0.15.6
nbformat==5.10.4
zstandard==0.25.0
intel-openmp==2025.3.2
langgraph-prebuilt==1.0.8
stanio==0.5.1
matplotlib==3.10.0
dataproc-spark-connect==1.0.2
annotated-doc==0.0.4
cyipopt==1.5.0
pytest==8.4.2
opencv-python-headless==4.13.0.92
toolz==0.12.1
rapids-logger==0.2.3
cymem==2.0.13
progressbar2==4.5.0
CacheControl==0.14.4
gym==0.25.2
pandas==2.2.2
tzlocal==5.3.1
six==1.17.0
jsonschema==4.26.0
soupsieve==2.8.3
fastjsonschema==2.21.2
distributed==2026.1.1
libcuml-cu12==26.2.0
jaraco.functools==4.4.0
Send2Trash==2.1.0
grain==0.2.16
libpysal==4.14.1
pydot==4.0.1
gitdb==4.0.12
en_core_web_sm==3.8.0
statsmodels==0.14.6
pydantic_core==2.41.4
scikit-learn==1.6.1
overrides==7.7.0
pylibcudf-cu12==26.2.1
optree==0.19.0
numba-cuda==0.22.2
cuvs-cu12==26.2.0
esda==2.8.2
typer==0.24.1
safetensors==0.7.0
jupyterlab_widgets==3.0.16
tensorflow_decision_forests==1.12.0
spreg==1.8.5
optax==0.2.7
fastapi==0.135.1
jax-cuda12-plugin==0.7.2
pydantic-settings==2.13.1
langchain-core==1.2.19
cuml-cu12==26.2.0
argon2-cffi==25.1.0
cvxopt==1.3.2
pandas-datareader==0.10.0
Jinja2==3.1.6
google-cloud-discoveryengine==0.13.12
xyzservices==2025.11.0
torchdata==0.11.0
ndindex==1.10.1
tensorflow==2.19.0
python-dateutil==2.9.0.post0
community==1.0.0b1
libraft-cu12==26.2.0
gym-notices==0.1.0
sniffio==1.3.1
jupyter_server_terminals==0.5.4
fastai==2.8.7
moviepy==1.0.3
annotated-types==0.7.0
h11==0.16.0
inflect==7.5.0
google-generativeai==0.8.6
shapely==2.1.2
pyOpenSSL==24.2.1
itsdangerous==2.2.0
keyrings.google-artifactregistry-auth==1.1.2
beartype==0.22.9
wandb==0.25.1
attrs==25.4.0
google-cloud-spanner==3.63.0
weasel==0.4.3
charset-normalizer==3.4.6
rich==13.9.4
jupyter-console==6.6.3
nvidia-cufile-cu12==1.13.1.3
autograd==1.8.0
pydotplus==2.0.2
mdit-py-plugins==0.5.0
typer-slim==0.24.0
jupyter_kernel_gateway==2.5.2
click-plugins==1.1.1.2
grpclib==0.4.9
scs==3.2.11
idna==3.11
mpmath==1.3.0
dask==2026.1.1
brotli==1.2.0
anywidget==0.9.21
libucxx-cu12==0.48.0
humanize==4.15.0
aiohttp==3.13.3
gspread-dataframe==4.0.0
deprecation==2.1.0
logical-unification==0.4.7
treelite==4.7.0
peft==0.18.1
PyOpenGL==3.1.10
mlxtend==0.23.4
cligj==0.7.2
aiofiles==24.1.0
rasterio==1.5.0
transformers==5.0.0
decorator==4.4.2
rpds-py==0.30.0
jsonpointer==3.0.0
roman-numerals==4.1.0
dill==0.3.8
huggingface_hub==1.7.1
yarl==1.23.0
google-crc32c==1.8.0
audioread==3.1.0
Flask==3.1.3
rsa==4.9.1
confection==0.1.5
googledrivedownloader==1.1.0
jsonpatch==1.33
filelock==3.25.2
sentry-sdk==2.54.0
regex==2025.11.3
fastprogress==1.1.5
opentelemetry-exporter-gcp-logging==1.11.0a0
jupyter_core==5.9.1
pyasn1_modules==0.4.2
blinker==1.9.0
array_record==0.8.3
nvidia-cuda-cupti-cu12==12.8.90
matplotlib-inline==0.2.1
torchaudio==2.10.0+cu128
rmm-cu12==26.2.0
jax==0.7.2
rapids-dask-dependency==26.2.0
google-cloud-trace==1.18.0
spaghetti==1.7.6
gspread==6.2.1
google-cloud-resource-manager==1.16.0
ipython-sql==0.5.0
google-cloud-bigquery==3.40.1
pyogrio==0.12.1
simsimd==6.5.16
patsy==1.0.2
spanner-graph-notebook==1.1.8
mizani==0.13.5
python-utils==3.9.1
pygit2==1.19.1
proglog==0.1.12
sklearn-compat==0.1.5
numexpr==2.14.1
multidict==6.7.1
pyparsing==3.3.2
opt_einsum==3.4.0
editdistance==0.8.1
pyerfa==2.0.1.5
websocket-client==1.9.0
rfc3339-validator==0.1.4
psutil==5.9.5
cuda-pathfinder==1.4.3
Authlib==1.6.9
pandas-gbq==0.30.0
triton==3.6.0
atpublic==5.1
sphinxcontrib-jsmath==1.0.1
orbax-checkpoint==0.11.33
keras==3.13.2
threadpoolctl==3.6.0
chardet==5.2.0
oauthlib==3.3.1
click==8.3.1
fastcore==1.12.26
linkify-it-py==2.1.0
duckdb==1.3.2
multipledispatch==1.0.0
webencodings==0.5.1
httpx==0.28.1
spacy-loggers==1.0.5
google-genai==1.67.0
blobfile==3.2.0
pyarrow==18.1.0
missingno==0.5.2
cmdstanpy==1.3.0
albucore==0.0.24
hf-xet==1.4.2
beautifulsoup4==4.13.5
datasets==4.0.0
pyasn1==0.6.3
tokenizers==0.22.2
python-fasthtml==0.12.50
keras-nlp==0.26.0
debugpy==1.8.15
opentelemetry-api==1.38.0
cons==0.4.7
diffusers==0.37.0
bleach==6.3.0
geopandas==1.1.3
keyring==25.7.0
opencv-contrib-python==4.13.0.92
pycparser==3.0
httpx-sse==0.4.3
google-cloud-audit-log==0.4.0
pydantic==2.12.3
tenacity==9.1.4
google-auth-httplib2==0.3.0
nvidia-cuda-runtime-cu12==12.8.90
nvidia-nvimgcodec-cu12==0.7.0.11
google-api-python-client==2.192.0
librmm-cu12==26.2.0
spopt==0.7.0
docutils==0.21.2
lightgbm==4.6.0
starlette==0.52.1
google-cloud-dataplex==2.16.0
tensorboard-data-server==0.7.2
websockets==15.0.1
polars==1.35.2
locket==1.0.0
umap-learn==0.5.11
langgraph==1.1.2
nltk==3.9.1
flax==0.11.2
spacy==3.8.11
nvtx==0.2.14
argon2-cffi-bindings==25.1.0
entrypoints==0.4
wrapt==2.1.2
preshed==3.0.12
ptyprocess==0.7.0
antlr4-python3-runtime==4.9.3
miniKanren==1.0.5
ipywidgets==7.7.1
google-cloud-bigquery-storage==2.36.2
typing_extensions==4.15.0
dm-tree==0.1.9
astropy-iers-data==0.2026.3.16.0.53.33
requests-toolbelt==1.0.0
pyomo==6.10.0
nvidia-nvtx-cu12==12.8.90
googleapis-common-protos==1.73.0
tinycss2==1.4.0
yellowbrick==1.5
google-ai-generativelanguage==0.6.15
opentelemetry-exporter-gcp-monitoring==1.11.0a0
PyJWT==2.12.1
httplib2==0.31.2
fastlite==0.2.4
zict==3.0.0
wcwidth==0.6.0
grpc-interceptor==0.15.4
pycocotools==2.0.11
pyshp==3.0.3
xarray-einstats==0.10.0
geopy==2.4.1
nibabel==5.4.2
pickleshare==0.7.5
libcudf-cu12==26.2.1
highspy==1.13.1
backcall==0.2.0
apsw==3.51.3.0
textblob==0.19.0
albumentations==2.0.8
ffmpy==1.0.0
google-cloud-speech==2.37.0
contourpy==1.3.3
dlib==19.24.6
cycler==0.12.1
xgboost==3.2.0
GDAL==3.8.4
altair==5.5.0
nvidia-cusparse-cu12==12.5.8.93
httptools==0.7.1
google-cloud-secret-manager==2.26.0
jsonschema-specifications==2025.9.1
opencv-python==4.13.0.92
jiter==0.13.0
pyproj==3.7.2
google-cloud-storage==3.9.0
mkl==2025.3.1
PyYAML==6.0.3
mcp==1.26.0
ipyfilechooser==0.6.0
Pygments==2.19.2
jupyter-leaflet==0.20.0
jaxlib==0.7.2
accelerate==1.13.0
mgwr==2.2.1
kiwisolver==1.5.0
opentelemetry-semantic-conventions==0.59b0
fqdn==1.5.1
urllib3==2.5.0
sympy==1.14.0
sse-starlette==3.3.2
strictyaml==1.7.3
watchfiles==1.1.1
spglm==1.1.0
docstring_parser==0.17.0
earthengine-api==1.5.24
python-snappy==0.7.3
snowballstemmer==3.0.1
pylibcugraph-cu12==26.2.0
gdown==5.2.1
hpack==4.1.0
langchain==1.2.12
dopamine_rl==4.1.2
pyperclip==1.11.0
google-cloud-language==2.19.0
holidays==0.93
google-auth-oauthlib==1.3.0
Markdown==3.10.2
pylibraft-cu12==26.2.0
jupyter_server==2.14.0
google-cloud-dataproc==5.25.0
uc-micro-py==2.0.0
cucim-cu12==26.2.0
librosa==0.11.0
google-api-core==2.30.0
kagglehub==1.0.0
libcuvs-cu12==26.2.0
tables==3.10.2
cupy-cuda12x==14.0.1
ucxx-cu12==0.48.0
pyspark==4.0.2
plotly==5.24.1
tensorboard==2.19.0
peewee==4.0.2
affine==2.4.0
geographiclib==2.1
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-proto==1.38.0
sqlglot==25.20.2
torchao==0.10.0
pyroaring==1.0.3
mdurl==0.1.2
Bottleneck==1.4.2
imutils==0.5.4
langgraph-checkpoint==4.0.1
terminado==0.18.1
google-cloud-bigquery-connection==1.20.0
partd==1.4.2
GitPython==3.1.46
pysal==25.7
cloudpickle==3.1.2
ipytree==0.2.2
typeguard==4.5.1
cuda-bindings==12.9.4
libkvikio-cu12==26.2.0
psycopg2==2.9.11
jupyter-events==0.12.0
tensorflow-text==2.19.0
propcache==0.4.1
etuples==0.3.10
ipython-genutils==0.2.0
holoviews==1.22.1
aiosqlite==0.22.1
onemkl-license==2025.3.1
gast==0.7.0
jaraco.context==6.1.1
kaggle==2.0.0
nvidia-cudnn-cu12==9.10.2.21
jupyterlab_pygments==0.3.0
pluggy==1.6.0
pytensor==2.38.2
distributed-ucxx-cu12==0.48.0
python-multipart==0.0.22
bqplot==0.12.45
psygnal==0.15.1
sphinxcontrib-qthelp==2.0.0
Sphinx==8.2.3
markdown-it-py==4.0.0
cufflinks==0.17.3
google-cloud-logging==3.14.0
defusedxml==0.7.1
nvidia-cuda-cccl-cu12==12.9.27
curl_cffi==0.14.0
giddy==2.3.8
flatbuffers==25.12.19
xarray==2025.12.0
simple-parsing==0.1.8
watchdog==6.0.0
nvidia-nccl-cu12==2.27.5
ipython==7.34.0
joblib==1.5.3
tensorflow-datasets==4.9.9
pyiceberg==0.11.1
natsort==8.4.0
nvidia-ml-py==13.590.48
termcolor==3.3.0
webcolors==25.10.0
intel-cmplr-lib-ur==2025.3.2
nest-asyncio==1.6.0
PySocks==1.7.1
param==2.3.2
grpcio-status==1.71.2
blosc2==4.1.2
nbclassic==1.3.3
google-cloud-translate==3.24.0
llvmlite==0.43.0
rtree==1.4.1
opentelemetry-exporter-gcp-trace==1.11.0
stringzilla==4.6.0
pyzmq==26.2.1
tornado==6.5.1
cffi==2.0.0
jax-cuda12-pjrt==0.7.2
tf_keras==2.19.0
cudf-polars-cu12==26.2.1
hdbscan==0.8.41
slicer==0.0.8
html5lib==1.1
umf==1.0.3
torch==2.10.0+cu128
importlib_metadata==8.7.1
nx-cugraph-cu12==26.2.0
sqlparse==0.5.5
ipyleaflet==0.20.0
torchvision==0.25.0+cu128
isoduration==20.11.0
Werkzeug==3.1.6
pandocfilters==1.5.1
cloudpathlib==0.23.0
types-pytz==2026.1.1.20260304
parsy==2.2
graphviz==0.21
vega-datasets==0.9.0
orjson==3.11.7
smart_open==7.5.1
grpcio==1.78.0
keras-hub==0.26.0
opentelemetry-resourcedetector-gcp==1.11.0a0
langgraph-sdk==0.3.11
hyperframe==6.1.0
rpy2==3.5.17
openai==2.28.0
seaborn==0.13.2
spacy-legacy==3.0.12
networkx==3.6.1
python-dotenv==1.2.2
safehttpx==0.1.7
pydata-google-auth==1.9.1
prometheus_client==0.24.1
tsfresh==0.21.1
libclang==18.1.1
bigframes==2.38.0
etils==1.14.0
google-pasta==0.2.0
python-box==7.4.1
google-cloud-bigtable==2.35.0
nvidia-cuda-nvcc-cu12==12.5.82
timm==1.0.25
tiktoken==0.12.0
jupytext==1.19.1
more-itertools==10.8.0
spint==1.0.7
tensorflow-probability==0.25.0
inequality==1.1.2
thinc==8.3.10
sphinxcontrib-applehelp==2.0.0
prettytable==3.17.0
roman-numerals-py==4.1.0
nvidia-cuda-nvrtc-cu12==12.8.93
geocoder==1.38.1
easydict==1.13
yfinance==0.2.66
segregation==2.5.3
torchsummary==1.5.1
google-cloud-firestore==2.25.0
imbalanced-learn==0.14.1
protobuf==5.29.6
tensorstore==0.1.82
sphinxcontrib-htmlhelp==2.1.0
colorlover==0.3.0
aiosignal==1.4.0
wheel==0.46.3
rfc3987-syntax==1.1.0
xlrd==2.0.2
jupyter_client==7.4.9
soundfile==0.13.1
cuda-toolkit==12.8.1
ydf==0.15.0
astunparse==1.6.3
ibis-framework==9.5.0
pooch==1.9.0
google-cloud-appengine-logging==1.8.0
blis==1.3.3
SecretStorage==3.5.0
ale-py==0.11.2
polars-runtime-32==1.35.2
tf-slim==1.1.0
jieba==0.42.1
ml_dtypes==0.5.4
soxr==1.0.0
google-cloud-datastore==2.23.0
pandas-stubs==2.2.2.240909
packaging==26.0
PyWavelets==1.9.0
pyviz_comms==3.0.6
music21==9.9.1
google-cloud-pubsub==2.36.0
shap==0.51.0
tzdata==2025.3
python-slugify==8.0.4
imageio-ffmpeg==0.6.0
tensorflow-hub==0.16.1
Farama-Notifications==0.0.4
tabulate==0.9.0
google==3.0.0
py-cpuinfo==9.0.0
importlib_resources==6.5.2
future==1.0.0
treescope==0.1.10
pointpats==2.5.5
raft-dask-cu12==26.2.0
numba==0.60.0
sphinxcontrib-serializinghtml==2.0.0
fsspec==2025.3.0
PuLP==3.3.0
plotnine==0.14.5
tqdm==4.67.3
stumpy==1.13.0
narwhals==2.18.0
eerepr==0.1.2
bigquery-magics==0.10.3
h5py==3.16.0
Cython==3.0.12
apswutils==0.1.2
lark==1.3.1
shellingham==1.5.4
referencing==0.37.0
zipp==3.23.0
ipyevents==2.0.4
opentelemetry-exporter-otlp-proto-common==1.38.0
tobler==0.13.0
tbb==2022.3.1
groovy==0.1.2
aiohappyeyeballs==2.6.1
tweepy==4.16.0
pycryptodomex==3.23.0
astropy==7.2.0
sentence-transformers==5.3.0
firebase-admin==6.9.0
PyDrive2==1.21.3
fiona==1.10.1
ormsgpack==1.12.2
betterproto==2.0.0b6
cvxpy==1.6.7
namex==0.1.0
dask-cuda==26.2.0
uvloop==0.22.1
uri-template==1.3.0
msgpack==1.1.2
xxhash==3.6.0
traitlets==5.7.1
text-unidecode==1.3
semantic-version==2.10.0
catalogue==2.0.10
bokeh==3.8.2
simplejson==3.20.2
pytz==2025.2
sortedcontainers==2.4.0
et_xmlfile==2.0.0
alabaster==1.0.0
smmap==5.0.3
nvidia-cublas-cu12==12.8.4.1
tblib==3.2.2
arrow==1.4.0
branca==0.8.2
google-adk==1.27.1
google-auth==2.47.0
pycairo==1.29.0
babel==2.18.0
nbconvert==7.17.0
rasterstats==0.20.0
python-json-logger==4.0.0
scikit-image==0.25.2
imagesize==2.0.0
promise==2.3
uritemplate==4.2.0
nvidia-curand-cu12==10.3.9.90
sqlalchemy-spanner==1.17.2
jsonpickle==4.1.1
python-apt==0.0.0
six==1.16.0
python-apt==2.4.0+ubuntu4.1
pyparsing==2.4.7
wadllib==1.3.6
jeepney==0.7.1
PyGObject==3.42.1
blinker==1.4
distro==1.7.0
zipp==1.0.0
launchpadlib==1.10.16
more-itertools==8.10.0
httplib2==0.20.2
importlib-metadata==4.6.4
lazr.restfulclient==0.14.4
oauthlib==3.2.0
cryptography==3.4.8
dbus-python==1.2.18
keyring==23.5.0
SecretStorage==3.3.1
PyJWT==2.3.0
lazr.uri==1.0.6
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
